# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# PyBuilder
target/

# Unit test / coverage reports
htmlcov/
cover/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Configuration
acousticbrainz/config.py

# High level extractor stuff
high-level/streaming_extractor_music_svm
high-level/svm_models
high-level/profile.conf
high-level/profile.conf.in

# Other stuff
static/download
export
ve
*.swp
