# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# PyBuilder
target/

# Unit test / coverage reports
htmlcov
.coverage

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Configuration
config.py
ve
*.swp
hl_extractor/streaming_extractor_music_svm
hl_extractor/svm_models
hl_extractor/profile.conf
hl_extractor/profile.conf.in

# Node.js
/node_modules

# Other stuff
/static/download
export
/files
ve
*.swp
