import os


DEBUG = False  # set to False in production mode

SECRET_KEY = "CHANGE_ME"


# DATABASES

# Primary database
SQLALCHEMY_DATABASE_URI = "postgresql://acousticbrainz@db/acousticbrainz"

# URI to connect to an empty database as the superuser
POSTGRES_ADMIN_URI = "postgresql://postgres@db/template1"
# URI to connect to the acousticbrainz database as the superuser (to install extensions)
POSTGRES_ADMIN_AB_URI = "postgresql://postgres@db/acousticbrainz"

# MUSICBRAINZ

MUSICBRAINZ_USERAGENT = "acousticbrainz-server"
MUSICBRAINZ_HOSTNAME = None

# OAuth
MUSICBRAINZ_CLIENT_ID = "CHANGE_ME"
MUSICBRAINZ_CLIENT_SECRET = "CHANGE_ME"

# CACHE

REDIS_HOST = "redis"
REDIS_PORT = 6379
REDIS_NAMESPACE = "AB"
REDIS_NS_VERSIONS_LOCATION = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'cache_namespaces')

# RATE LIMITING
# set a limit of per_ip requests per window seconds per unique ip address
RATELIMIT_PER_IP = 100
RATELIMIT_WINDOW = 10

# LOGGING
# Uncomment any of the following logging stubs if you want to enable logging
# during development. In general you shouldn't need to do this.

# LOG_FILE = {
#    'filename': './acousticbrainz.log',
#    'max_bytes': 512 * 1024, # optional
#    'backup_count': 10, # optional
# }

# LOG_EMAIL = {
#    'mail_server': 'localhost',
#    'mail_port': 25,
#    'mail_from_host': 'acousticbrainz.org',
#    'log_email_recipients': [
#        '',
#    ],
#    'log_email_topic': 'AcousticBrainz Error',
#    'level': 'ERROR',
# }

# LOG_SENTRY = {
#    'dsn':'',
#    'environment': 'development',
#    'level': 'ERROR',
# }

# MISCELLANEOUS

DATASET_DIR = "/data/datasets"
FILE_STORAGE_DIR = "/data/files"

#Feature Flags
# Choose a server to perform the evaluation on
FEATURE_EVAL_LOCATION = False
# Choose dataset preprocessing processes
FEATURE_EVAL_FILTERING = True
# Choose settings used for model training
FEATURE_EVAL_MODEL_SELECTION = False

# Enable similarity API endpoints and webpages
FEATURE_SIMILARITY = False

DEBUG_TB_INTERCEPT_REDIRECTS = False
