import os


DEBUG = False  # set to False in production mode
# Additional files to watch to restart the development server
RELOAD_ON_FILES = ["webserver/static/build/rev-manifest.json"]

SECRET_KEY = "CHANGE_ME"


# DATABASES

# Primary database
SQLALCHEMY_DATABASE_URI = "postgresql://acousticbrainz@db/acousticbrainz"

# MusicBrainz Database
MB_DATABASE_URI = "postgresql://musicbrainz:musicbrainz@musicbrainz_db:5432/musicbrainz_db"

# URI to connect to an empty database as the superuser
POSTGRES_ADMIN_URI = "postgresql://postgres@db/template1"
# URI to connect to the acousticbrainz database as the superuser (to install extensions)
POSTGRES_ADMIN_AB_URI = "postgresql://postgres@db/acousticbrainz"

# MUSICBRAINZ

MUSICBRAINZ_USERAGENT = "acousticbrainz-server"
MUSICBRAINZ_HOSTNAME = None

# OAuth
MUSICBRAINZ_CLIENT_ID = "CHANGE_ME"
MUSICBRAINZ_CLIENT_SECRET = "CHANGE_ME"

# CACHE

REDIS_HOST = "redis"
REDIS_PORT = 6379
REDIS_NAMESPACE = "AB"
REDIS_NS_VERSIONS_LOCATION = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'cache_namespaces')

# LOGGING
# Uncomment any of the following logging stubs if you want to enable logging
# during development. In general you shouldn't need to do this.

# LOG_FILE = {
#    'filename': './acousticbrainz.log',
#    'max_bytes': 512 * 1024, # optional
#    'backup_count': 10, # optional
# }

# LOG_EMAIL = {
#    'mail_server': 'localhost',
#    'mail_port': 25,
#    'mail_from_host': 'acousticbrainz.org',
#    'log_email_recipients': [
#        '',
#    ],
#    'log_email_topic': 'AcousticBrainz Error',
#    'level': 'ERROR',
# }

# LOG_SENTRY = {
#    'dsn':'',
#    'environment': 'development',
#    'level': 'ERROR',
# }

# MISCELLANEOUS

DATASET_DIR = "/data/datasets"
FILE_STORAGE_DIR = "/data/files"

#Feature Flags
FEATURE_EVAL_LOCATION = False

# Maximum number of recordings to fetch at a time for importing MusicBrainz metadata.
RECORDINGS_FETCHED_PER_BATCH = 10000

# Sleep duration for musicbrainz importer to wait after a complete import and
# between every 2 batches
SLEEP_DURATION = 30  # number of seconds to wait between runs
BATCH_SLEEP_DURATION = 5 # number of seconds to wait between batches

# Base url to download the replication packets
REPLICATION_PACKETS_URL = "https://metabrainz.org/api/musicbrainz/"

# Token to access any MetaBrainz API
# ACCESS_TOKEN = ""
