import os


DEBUG = False  # set to False in production mode
# Additional files to watch to restart the development server
RELOAD_ON_FILES = ["webserver/static/build/rev-manifest.json"]

SECRET_KEY = "CHANGE_ME"


# DATABASES

# Primary database
SQLALCHEMY_DATABASE_URI = "postgresql://acousticbrainz@db/acousticbrainz"

# URI to connect to an empty database as the superuser
POSTGRES_ADMIN_URI = "postgresql://postgres@db/template1"
# URI to connect to the acousticbrainz database as the superuser (to install extensions)
POSTGRES_ADMIN_AB_URI = "postgresql://postgres@db/acousticbrainz"

# MUSICBRAINZ

MUSICBRAINZ_USERAGENT = "acousticbrainz-server"
MUSICBRAINZ_HOSTNAME = None

# OAuth
MUSICBRAINZ_CLIENT_ID = "CHANGE_ME"
MUSICBRAINZ_CLIENT_SECRET = "CHANGE_ME"

# CACHE

REDIS_HOST = "redis"
REDIS_PORT = 6379
REDIS_NAMESPACE = "AB"
REDIS_NS_VERSIONS_LOCATION = os.path.join(os.path.dirname(os.path.realpath(__file__)), 'cache_namespaces')

# LOGGING

LOG_FILE = {
    "filename": "./acousticbrainz.log",
    "max_bytes": 512 * 1024,  
    "backup_count": 100,      
}

LOG_EMAIL = {
    "mail_server": "localhost",
    "mail_port": 25,
    "mail_from_host": "acousticbrainz.org",
    "log_email_recipients": [
        "user1@example.org"
    ],
    "log_email_topic": "AcousticBrainz Failure",
    "level": "ERROR",  
}

LOG_SENTRY_ENABLED = False

LOG_SENTRY = {
    "dsn": "YOUR_SENTRY_DSN",
    "level": "WARNING",
}

# MISCELLANEOUS

# Mail server
# These variables need to be defined if you enabled log emails.
SMTP_SERVER = "localhost"
SMTP_PORT = 25
MAIL_FROM_DOMAIN = "acousticbrainz.org"

DATASET_DIR = "/data/datasets"
FILE_STORAGE_DIR = "/data/files"

#Feature Flags
FEATURE_EVAL_LOCATION = False
