DEBUG = False  # set to False in production mode

SECRET_KEY = "CHANGE_ME"


# DATABASES

# PostgreSQL connection string
# See http://www.postgresql.org/docs/current/static/libpq-connect.html#LIBPQ-CONNSTRING
# Note: To have no password, use "password=" in the string below.
PG_CONNECT = "dbname=acousticbrainz user=acousticbrainz password= host=localhost port=5432"

# This connection string will be used for testing
PG_CONNECT_TEST = "dbname=ab_test user=ab_test password= host=localhost port=5432"


# MUSICBRAINZ

MUSICBRAINZ_USERAGENT = "acousticbrainz-server"
MUSICBRAINZ_HOSTNAME = None

# OAuth
MUSICBRAINZ_CLIENT_ID = "CLIENT_ID"
MUSICBRAINZ_CLIENT_SECRET = "CLIENT_SECRET"


# CACHE

MEMCACHED_SERVERS = ["127.0.0.1:11211"]
MEMCACHED_NAMESPACE = "AB"


# LOGGING

#LOG_FILE_ENABLED = True
#LOG_FILE = "./acousticbrainz.log"

#LOG_EMAIL_ENABLED = True
#LOG_EMAIL_TOPIC = "AcousticBrainz Webserver Failure"
#LOG_EMAIL_RECIPIENTS = []  # List of email addresses (strings)

#LOG_SENTRY_ENABLED = True
#SENTRY_DSN = ""


# MISCELLANEOUS

# Mail server
# These variables need to be defined if you enabled log emails.
#SMTP_SERVER = "localhost"
#SMTP_PORT = 25
#MAIL_FROM_DOMAIN = "acousticbrainz.org"

# Set to True if Less should be compiled in browser. Set to False if styling is pre-compiled.
COMPILE_LESS = True

FILE_STORAGE_DIR = "./files"
