git+https://github.com/metabrainz/brainzutils-python.git@v1.15.0
annoy==1.16.0
Flask-Admin==1.5.6
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.8.0
Flask-WTF == 0.14.3
mock==3.0.5
musicbrainzngs==0.7.1
ndg-httpsclient==0.5.1
psycopg2-binary==2.8.5
numpy==1.14.3
pytz==2019.3
pyyaml==5.3.1
rauth == 0.7.3
setproctitle == 1.1.10
six==1.14.0
-r docs/requirements.txt
