{%- extends 'base.html' -%}

{%- block title -%}
  Track "{{ info['title'] }}" by {{ info['artist'] }} - AcousticBrainz
{%- endblock -%}

{%- block content -%}
  <h3>Details for track {{ mbid }}</h3>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th style="width: 30%;">Track information</th>
          <th>value</th>
        </tr>
        </thead>
        <tr>
          <td>title</td>
          <td>
            <a href="https://musicbrainz.org/recording/{{ mbid }}">{{ info['title'] }}</a>
          </td>
        </tr>
        <tr>
          <td>artist</td>
          <td><a href="https://musicbrainz.org/artist/{{ info['artist_id'] }}">{{ info['artist'] }}</a></td>
        </tr>
        <tr>
          <td>track number</td>
          <td><a href="https://musicbrainz.org/track/{{ info['track_id'] }}">{{ info['track_number'] }}</a></td>
        </tr>
        <tr>
          <td>track length</td>
          <td>{{ info['length'] }}</td></tr>
      </table>
    </div>

    <div class="col-md-4">
      {% if tomahawk_url %}
        <iframe src="{{ tomahawk_url }}" width="200" scrolling="no" height="200" frameborder="0" allowtransparency="true"></iframe>
      {% endif %}
    </div>
  </div>
{%- endblock -%}
