{%- extends 'base.html' -%}
{%- block title -%}{{ title }} - AcousticBrainz{%- endblock -%}

{%- block content -%}
  <h2 class="page-title">{{ title }}</h2>
  <strong><a href="{{ url_for('data.summary', mbid=mbid) }}">&#8592; Back to summary page</a></strong>
  <pre><code class="json">{{ data }}</code></pre>
  <strong><a href="{{ url_for('data.summary', mbid=mbid) }}">&#8592; Back to summary page</a></strong>
{%- endblock -%}

{%- block scripts -%}
  {{ super() }}
  <script src="{{ get_static_path('lib/highlight.pack.js') }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{%- endblock -%}
