{%- extends 'base.html' -%}

{%- block title -%}
    Similar recordings to - "{{ ref_metadata['title'] }}" by {{ ref_metadata['artist'] }} - AcousticBrainz
{%- endblock -%}

{%- block content -%}

    <h2 class="page-title">Recording "{{ ref_metadata['title'] }}" by {{ ref_metadata['artist'] }}</h2>

    <div class="row">
        <div class="col-md-4">
            <h3>Rhytm</h3>
            <ul>
                <li><a href="{{ url_for('data.get_similar', mbid=ref_metadata['mbid'], metric='bpm') }}">BPM</a></li>
{#                <li><a href="{{ url_for('data.get_similar', mbid=ref_metadata['mbid'], metric='key') }}">Key</a></li>#}
{#                <li><a href="{{ url_for('data.get_similar', mbid=ref_metadata['mbid'], metric='bpm_key') }}">BPM + key</a></li>#}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Timbre</h3>
            <ul>
                <li><a href="{{ url_for('data.get_similar', mbid=ref_metadata['mbid'], metric='mfccs') }}">MFCCs</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>High-level</h3>
            <ul>
                <li><a href="{{ url_for('data.get_similar', mbid=ref_metadata['mbid'], metric='moods') }}">Moods</a></li>
            </ul>
        </div>

    </div>

{%- endblock -%}
