{%- extends 'base.html' -%}

{%- block title -%}
    Similar recordings ({{ description }}) to - "{{ ref_metadata['title'] }}" by {{ ref_metadata['artist'] }} - AcousticBrainz
{%- endblock -%}

{%- block content -%}

    <h2 class="page-title">Similar Recordings to "{{ ref_metadata['title'] }}" by {{ ref_metadata['artist'] }}</h2>

    <div class="row">
        <div class="col-md-8">
            <div>
                Back to <a href="{{ url_for('data.metrics', mbid=ref_metadata['mbid']) }}">metrics</a> /
                <a href="{{ url_for('data.summary', mbid=ref_metadata['mbid']) }}">summary</a>
            </div>

            <div>
            <h3>Most similar by {{ description }}:</h3>
            <p class="feedback-request">Please give us feedback - in terms of {{ category }}, how similar are the result tracks to original one?</p>

            <form id="feedback-select" method="post" action="{{ url_for('data.get_similar', metric=metric, mbid=ref_metadata['mbid'], submission_offset=ref_metadata['submission_offset']) }}">
            {{ form.hidden_tag() }}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Recording</th>
                    <th class="feedback-request">Feedback</th>
                    <th class="feedback-request">Suggestion</th>
                </tr>
                </thead>
                <tbody>
                {% for eval, recording in eval_data %}
                    {{ eval.form.hidden_tag() }}
                    <tr>
                        <td>
                            <a href="{{ url_for('data.summary', mbid=recording['mbid']) }}">
                                    {{ recording['artist'] }} - {{ recording['title'] }}</a>
                            <br>
                            <a href="#" class="change-youtube" data-youtube="{{ recording['youtube_query'] }}">(show)</a>
                        </td>
                        <td class="feedback-request">
                            {{ eval.form.feedback(style="background-colour: purple;") }}
                        </td>
                        <td class="feedback-request">
                            {{ eval.form.suggestion(style="position: relative") }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-primary btn-feedback feedback-request" type="submit">
                Submit Feedback
            </button>
            </form>
            <div id="feedback-result" hidden>
                <p>Thank you for your feedback!</p>
            </div>
            </div>

        </div>
        <div class="col-md-4">
            <iframe src="https://www.youtube.com/embed?listType=search&amp;list={{ ref_metadata['youtube_query'] }}"
                    width="100%" height="260" frameborder="0" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed?listType=search&amp;list={{ metadata[0]['youtube_query'] }}"
                  id="youtube_iframe" width="100%" height="260" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{%- endblock -%}

{%- block scripts -%}
    {{ super() }}
    <script src="{{ get_static_path('similarity.js') }}"></script>
    <script type="text/javascript">
        var metadata = {{ metadata|tojson }};
        var csrftoken = "{{ form.csrf_token._value() }}";
    </script>
{%- endblock -%}