{%- extends 'base.html' -%}

{%- block title -%}
  Recording "{{ metadata['title'] }}" by {{ metadata['artist'] }} - AcousticBrainz
{%- endblock -%}

{%- block content -%}
  <div id="page-recording-summary">

    <h2 class="page-title">Recording "{{ metadata['title'] }}" by {{ metadata['artist'] }}</h2>
    <p><a href="{{ url_for('data.metrics', mbid=metadata['mbid']) }}">See Similar</a></p>

    {%- include 'data/summary-metadata.html' -%}

    <h3 class="text-center">
      {% if previous != None %}
        <a href="{{ url_for('data.summary', mbid=metadata['mbid'], n=previous) }}"
           title="View previous submission">&larr;</a>
      {% endif %}
      Submission #{{ position }} <small>out of {{ submission_count }}</small>
      {% if next != None %}
        <a href="{{ url_for('data.summary', mbid=metadata['mbid'], n=next) }}"
           title="View next submission">&rarr;</a>
      {% endif %}
    </h3>

    <h3>Low-level information <small>Summary</small></h3>

    <table class="table table-striped table-bordered">
      <thead><tr><th style="width: 30%;">Tonal &amp; Rhythm</th><th>value</th></tr></thead>
      <tr>
        <td><a href="http://essentia.upf.edu/documentation/reference/streaming_Key.html">key</a></td>
        <td>
            {{ data.lowlevel.tonal.key_key }} {{ data.lowlevel.tonal.key_scale }}
            {% if data.lowlevel.tonal.key_strength %}
                ({{ data.lowlevel.tonal.key_strength|round(2)*100 }}%)
            {% endif %}
        </td>
      </tr>
      <tr>
        <td><a href="http://essentia.upf.edu/documentation/reference/streaming_ChordsDescriptors.html">chords key</a></td>
        <td>{{ data.lowlevel.tonal.chords_key }} {{ data.lowlevel.tonal.chords_scale }}</td>
      </tr>
      <tr>
        <td><a href="http://essentia.upf.edu/documentation/reference/streaming_Danceability.html">danceability</a></td>
        <td>{{ data.lowlevel.rhythm.danceability|round(2) }}</td>
      </tr>
      <tr>
        <td><a href="http://essentia.upf.edu/documentation/reference/streaming_RhythmExtractor2013.html">bpm</a></td>
        <td>{{ data.lowlevel.rhythm.bpm|round|int }}</td></tr>
      <tr>
        <td>beat count</td>
        <td>{{ data.lowlevel.rhythm.beats_count }}</td>
      </tr>
    </table>

    {% if data.highlevel %}
      <h3>High-level information</h3>

      {% macro print_row(row) %}
        <tr>
          <td><a href="{{ row.model_href }}">{{ row.name }}</a></td>
          <td>
              {% if row.original %}<abbr title="{{ row.original }}">{% endif %}
              {{ row.value }}
              {% if row.original %}</abbr>{% endif %}
          </td>
          <td>{{ row.percent }}%</td>
        </tr>
      {% endmacro %}

      {% if data.highlevel.other %}
      <table class="table table-bordered">
        <thead><th style="width: 30%;">Voice, timbre, gender, etc.</th><th style="width: 25%;">value</th><th>probability</th></thead>
        {% for row in data.highlevel.other %}{{ print_row(row) }}{% endfor %}
      </table>
      {% endif %}

      {% if data.highlevel.moods %}
      <table class="table table-bordered">
        <thead><th style="width: 30%;">Moods</th><th style="width: 25%;">value</th><th>probability</th></thead>
        {% for row in data.highlevel.moods %}{{ print_row(row) }}{% endfor %}
      </table>
      {% endif %}

      {% if data.highlevel.genres %}
      <table class="table table-bordered">
        <thead><th style="width: 30%;">Genres</th><th style="width: 25%;">value</th><th>probability</th></thead>
        {% for row in data.highlevel.genres %}{{ print_row(row) }}{% endfor %}
      </table>
      {% endif %}

    {% else %}
      <div class="alert alert-warning">
        Sorry, we have not had a chance to calculate the high-level data for this
        submission yet. It should be done pretty soon. In the meantime, you can
        have a look at our <a href="{{ url_for('data.data') }}#sample-data">sample data</a>.
      </div>
    {% endif %}

    <h3>View all data</h3>
    <ul>
      <li>
        <a href="{{ url_for('data.view_low_level', mbid=metadata['mbid'], n=offset) }}">Low-level</a>
        (<a href="{{ url_for('api_v1_core.get_low_level', mbid=metadata['mbid'], n=offset) }}">raw JSON</a>)
      </li>
      {% if data.highlevel %}
        <li>
          <a href="{{ url_for('data.view_high_level', mbid=metadata['mbid'], n=offset) }}">High-level</a>
          (<a href="{{ url_for('api_v1_core.get_high_level', mbid=metadata['mbid'], n=offset) }}">raw JSON</a>)
        </li>
      {% endif %}
    </ul>

  </div>
{%- endblock -%}
