{% from 'macros.html' import print_message %}

<!DOCTYPE html>
<html>
<head>
  {%- block head -%}
    <meta charset="utf-8" />
    <title>{% block title %}AcousticBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" sizes="16x16" href="{{ get_static_path('images/favicon-16.png') }}" type="image/png" />
    <link rel="icon" sizes="32x32" href="{{ get_static_path('images/favicon-32.png') }}" type="image/png" />
    <link rel="icon" sizes="64x64" href="{{ get_static_path('images/favicon-64.png') }}" type="image/png" />
    <link rel="icon" sizes="128x128" href="{{ get_static_path('images/favicon-128.png') }}" type="image/png" />
    <link rel="icon" sizes="256x256" href="{{ get_static_path('images/favicon-256.png') }}" type="image/png" />

    <link href="{{ get_static_path('main.css') }}" rel="stylesheet" media="screen" />
  {%- endblock -%}
</head>

<body>
  {%- include 'navbar.html' -%}

  <div class="container">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        {{ print_message(message, category) }}
      {% endfor %}
    {% endwith %}

    {%- block wrapper -%}
      {%- block content -%}
        <!-- Page content -->
      {%- endblock -%}
    {%- endblock -%}
    <div class="clearfix"></div>

    {%- block footer -%}
      <hr />
      <div class="footer clearfix">
        <ul class="list-inline pull-left">
          <li><a href="http://blog.musicbrainz.org/category/acousticbrainz/">Blog</a></li>
          <li><a href="https://twitter.com/AcousticBrainz">Twitter</a></li>
          <li><a href="http://github.com/metabrainz/acousticbrainz-server/">GitHub</a></li>
          <li><a href="http://tickets.musicbrainz.org/browse/AB">Bug Tracker</a></li>
          <li><a href="http://labs.acousticbrainz.org">AcousticBrainz labs</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="http://mtg.upf.edu" title="UPF"><img src="{{ get_static_path('images/mtg_upf.png') }}" /></a></li>
          <li><a href="https://musicbrainz.org" title="MusicBrainz"><img src="{{ get_static_path('images/musicbrainz.svg') }}" /></a></li>
        </ul>
      </div>
    {%- endblock -%}
  </div>

  {%- block scripts -%}
    <script src="{{ get_static_path('common.js') }}"></script>
  {%- endblock -%}
</body>
</html>
