# Compute stats
5 * * * * root /usr/local/bin/python /code/manage.py compute_stats >> /var/log/stats_calc.log 2>&1

# Cache stats
*/10 * * * * root /usr/local/bin/python /code/manage.py cache_stats >> /var/log/stats_cache.log 2>&1
