# Docker Compose file for development
version: "2"
services:

  db:
    image: postgres:9.5.4
    volumes:
      - ../data/pgdata:/var/lib/postgresql/data/pgdata
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "15432:5432"

  webserver:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    command: python manage.py runserver
    volumes:
      - ../:/code
      - ../data/app:/data
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
      - musicbrainz_db

  redis:
    image: redis:4.0-alpine

  musicbrainz_db:
    image: metabrainz/musicbrainz-test-database:schema-change-2017-q2
    volumes:
      - ../data/mbdata:/var/lib/postgresql/data/pgdata
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      MB_IMPORT_DUMPS: "true"
    ports:
      - "5430:5432"

  hl_extractor:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    command: python2 worker_manage.py hl_extractor
    depends_on:
      - db

  dataset_evaluator:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    command: python2 worker_manage.py dataset_evaluator
    volumes:
      - ../data/datasets:/data/datasets
      - ../data/files:/data/files
    depends_on:
      - db

  musicbrainz_importer:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.gaia
    command: python2 worker_manage.py musicbrainz_importer
    volumes:
      - ../:/code
      - ../data/app:/data
    depends_on:
      - db
      - musicbrainz_db
