{%- extends 'base.html' -%}
{%- block title -%}Downloads - AcousticBrainz{%- endblock -%}
{%- block content -%}
  <h2 class="page-title">Downloads</h2>

  <div class="row">

    <div class="col-lg-6">
      <h3>Client Downloads</h3>
      <p><a href="https://community.metabrainz.org/t/acousticbrainz-making-a-hard-decision-to-end-the-project/572828">With the discontinuation of AcousticBrainz,</a>
        we no longer provide client tools to submit data.</p>
      <p>If you are interested in computing acoustic features on your own music, you can still download the command-line essentia extractor and run it yourself:</p>
      <ul>
        <li><a href="http://ftp.acousticbrainz.org/pub/acousticbrainz/essentia-extractor-v2.1_beta2-linux-i686.tar.gz">linux i386 extractor static binary</a></li>
        <li><a href="http://ftp.acousticbrainz.org/pub/acousticbrainz/essentia-extractor-v2.1_beta2-linux-x86_64.tar.gz">linux x86_64 extractor static binary</a></li>
        <li><a href="http://ftp.acousticbrainz.org/pub/acousticbrainz/essentia-extractor-v2.1_beta2-2-gbb40004-osx.tar.gz">mac 64 bit extractor static binary for 10.7 and higher</a></li>
        <li><a href="http://ftp.acousticbrainz.org/pub/acousticbrainz/essentia-extractor-v2.1_beta2-1-ge3940c0-win-i686.zip">win 32 bit extractor static binary</a></li>
      </ul>
      <p><a href="http://ftp.acousticbrainz.org/pub/acousticbrainz/sha1sum">SHA1 sums</a></p>
      <p>Newer versions of the essentia extractor are also available on the 
        <a href="https://mtg.github.io/essentia-labs/news/2015/12/22/static-binaries-for-extractors/">essentia website</a></p>
    </div>

    <div class="col-lg-6">
      <h3>Data Downloads</h3>
      <p>2022-06-20: We are in the process of finalising data dumps of the complete AcousticBrainz database.
        These dumps will be announced here and 
        <a href="https://community.metabrainz.org/c/acousticbrainz/5">on the AcousticBrainz forum</a> in the coming weeks.
      </p>
    </div>

  </div>
{%- endblock -%}
