{%- extends 'base.html' -%}
{%- block content -%}
  <div id="homepage" class="row">

    <div class="col-md-7 col-lg-8">
      <img src="{{ get_static_path('images/logo_big.svg') }}" id="big-logo" />
      <h2 class="page-title">Welcome to AcousticBrainz!</h2>

      <p>Between 2015 and 2022, AcousticBrainz helped to crowd source acoustic information from 
        music recordings.
        This acoustic information describes the acoustic characteristics of music and includes
        low-level spectral information and information for genres, moods, keys, scales and much more.
      </p>
      <p>
        AcousticBrainz was a joint effort between <a href="https://upf.edu/web/mtg">Music Technology Group</a> at
        <a href="https://www.upf.edu/">Universitat Pompeu Fabra</a> in Barcelona and the
        <a href="https://metabrainz.org.org">MusicBrainz</a> project. At the heart of this project lies the
        <a href="https://essentia.upf.edu/">Essentia toolkit</a> from the MTG &ndash; this open source toolkit enables
        the automatic analysis of music. The output from Essentia is collected by the AcousticBrainz project and
        made available to the public.
      </p>
      <p>In 2022, <a href="https://community.metabrainz.org/t/acousticbrainz-making-a-hard-decision-to-end-the-project/572828">
        the decision was made to stop collecting data</a>. For now, the website and its API will continue to be available.</p>

      <p>
        AcousticBrainz organizes the data on a recording basis, indexed by the
        <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier">MusicBrainz ID</a>
        for <a href="https://musicbrainz.org/doc/Recording">recordings</a>. If you know
        the MBID for a recording, you can easily fetch from AcousticBrainz. For details
        on how to do this, visit our <a href="{{ url_for('data.api') }}">API documentation</a>.
      </p>
      <p>
        All of the data contained in AcousticBrainz is licensed under the
        <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a> (public domain).
      </p>
      {%- if last_submissions -%}
        <h4>Examples</h4>
        <p>
          If you're wondering what this collected data actually looks like,
          have a look at the last 5 recordings that have been submitted:
        </p>
        <ol>
           {% for recording in last_submissions %}
               <li>
                 <a href="{{ url_for('data.summary', mbid=recording.mbid) }}">
                   <strong>{{ recording.artist }} / {{ recording.title }}</strong>
                 </a>
               </li>
           {% endfor %}
        </ol>
      {%- endif -%}
    </div>

    <div class="col-md-5 col-lg-4">
      <div id="stats" class="panel panel-default">
        <div class="panel-heading"><strong>Data Statistics</strong></div>
        <div class="panel-body">
          <table class="table table-collapsed">
            <thead><tr>
              <th></th>
              <th>Lossy</th>
              <th>Lossless</th>
              <th>Total</th>
            </tr></thead>
            <tbody>
            <tr>
              <th>Unique</th>
              <td>{{ "{:,}".format(stats['lowlevel-lossy-unique']) }}</td>
              <td>{{ "{:,}".format(stats['lowlevel-lossless-unique']) }}</td>
              <td><strong>{{ "{:,}".format(stats['lowlevel-total-unique']) }}</strong></td>
            </tr>
            <tr>
              <th>All</th>
              <td>{{ "{:,}".format(stats['lowlevel-lossy']) }}</td>
              <td>{{ "{:,}".format(stats['lowlevel-lossless']) }}</td>
              <td><strong>{{ "{:,}".format(stats['lowlevel-total']) }}</strong></td>
            </tr>
            </tbody>
          </table>
          <p style="text-align: center">
            <small>updated every hour</small><br />
            <small>last updated: {% if last_collected %}
                <span id="last_collected" data-timestamp="{{last_collected_timestamp}}">
                    {{ last_collected.strftime("%Y-%m-%d %H:%M %Z") }}</span>
                {% else %}never{% endif %}</small><br />
            <small><a href="{{ url_for('stats.graph') }}">more on the detailed statistics page</a></small>
          </p>
        </div>
      </div>

      <div id="twitter-block">
        <a class="twitter-timeline" data-dnt="true" data-lang="en" href="https://twitter.com/AcousticBrainz" data-widget-id="535534957591281664">Tweets by @AcousticBrainz</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
{%- endblock -%}

{%- block scripts -%}
  {{ super() }}
  <script src="{{ get_static_path('homepage.js') }}"></script>
{%- endblock -%}
