{%- extends 'base.html' -%}
{%- block content -%}
<div id="homepage">
  <h4>AcousticBrainz API</h4>
  <div id="project-description" class="row">
    <div class="col-md-8">
      <p>
        Before diving into the API details, please have a look at the <a href="/sample-data">sample data</a> page.
      </p><p>
        To fetch the JSON documents for a given MusicBrainz recording ID, you can construct the
        following URLs:
      </p>
<pre>
   GET http://acousticbrainz.org/&lt;MBID&gt;/low-level
   GET http://acousticbrainz.org/&lt;MBID&gt;/high-level
</pre>
      <p>
        examples:
      </p>
<pre>
   GET <a href="http://acousticbrainz.org/96685213-a25c-4678-9a13-abd9ec81cf35/low-level">http://acousticbrainz.org/96685213-a25c-4678-9a13-abd9ec81cf35/low-level</a>
   GET <a href="http://acousticbrainz.org/96685213-a25c-4678-9a13-abd9ec81cf35/high-level">http://acousticbrainz.org/96685213-a25c-4678-9a13-abd9ec81cf35/high-level</a>
</pre>
      </p><p>
        NOTE: The API end points for the high-level data have not been
        completed yet. Soon, very soon!
      </p><p>
        The submit API end-point is:
      </p>
      <pre>
        POST http://acousticbrainz.org/&lt;MBID&gt;/low-level
      </pre>
      <p>
        It expects a JSON payload, containing the output of a feature extractor 
        (see <a href="/contribute">the contribute page</a>).
      </p>
    </div>
  </div>
</div>
{%- endblock -%}
