{%- from 'macros.html' import print_error -%}
<!DOCTYPE html>
<html>
  <head>
    {%- block head -%}
    <meta charset="utf-8">
    <title>{% block title %}AcousticBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
    {% if config.COMPILE_LESS %}
      <link href="{{ url_for('static', filename='css/styles.less') }}" rel="stylesheet/less" type="text/css">
      <script src="{{ url_for('static', filename='js/less.min.js') }}"></script>
    {% else %}
      <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
    {% endif %}
    {%- endblock -%}
  </head>

  <body>
    {%- include 'navbar.html' -%}

    <div class="container">
      {%- block wrapper -%}
        {%- block content -%}
        <!-- Page content -->
        {%- endblock -%}
      {%- endblock -%}
      <div class="clearfix"></div>

      {%- block footer -%}
      <hr />
      <div class="footer clearfix">
        <ul class="list-inline pull-left">
          <li><a href="http://blog.musicbrainz.org/tag/acousticbrainz/">Blog</a></li>
          <li><a href="http://github.com/metabrainz/acousticbrainz-server/">GitHub</a></li>
          <li><a href="https://twitter.com/AcousticBrainz">@AcousticBrainz</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="http://mtg.upf.edu" alt="UPF"><img width="108" height="45" src="/static/img/mtg_upf.png"></a></li>
          <li><a href="http://musicbrainz.org" alt="MusicBrainz"><img width="67" height="46" src="/static/img/musicbrainz.png"></a></li>
        </ul>
      </div>
      {%- endblock -%}
    </div>

    {%- block scripts -%}
      <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {%- endblock -%}
  </body>
</html>
