{%- from 'macros.html' import print_error -%}
<!DOCTYPE html>
<html>
  <head>
    {%- block head -%}
    <meta charset="utf-8">
    <title>{% block title %}AcousticBrainz{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"/>

    <link href='https://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
    {%- endblock -%}
  </head>

  <body>
    {%- include 'navbar.html' -%}

    <div class="container">
      {%- block wrapper -%}
        {%- block content -%}
        <!-- Page content -->
        {%- endblock -%}
      {%- endblock -%}
      <div class="clearfix"></div>

      {%- block footer -%}
      <hr />
      <div class="footer clearfix">
        <ul class="list-inline pull-left">
          <li><a href="http://blog.musicbrainz.org/tag/acousticbrainz/">Blog</a></li>
          <li><a href="http://github.com/metabrainz/acousticbrainz-server/">GitHub</a></li>
          <li><a class="twitter-follow-button" href="https://twitter.com/AcousticBrainz" data-show-count="true" data-lang="en" data-dnt="true" data-show-screen-name="true">@AcousticBrainz</a></li>
        </ul>
        <ul class="list-inline pull-right">
          <li><a href="http://mtg.upf.edu" alt="UPF"><img width="108" height="45" src="/static/img/mtg_upf.png"></a></li>
          <li><a href="http://musicbrainz.org" alt="MusicBrainz"><img width="67" height="46" src="/static/img/musicbrainz.png"></a></li>
        </ul>
      </div>
      {%- endblock -%}
    </div>

    {%- block scripts -%}
      <script src="{{ url_for('static', filename='js/jquery-2.1.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script type="text/javascript">
window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
      </script>
    {%- endblock -%}
  </body>
</html>
