{%- extends 'base.html' -%}
{%- block content -%}
<div id="homepage">
  <h4>Downloads</h4>
  <p>
  We're working hard on creating a user friendly GUI submission tool for AcousticBrainz. Sadly, it isn't ready
  just yet -- we hope to release it in the next few days.
  </p>
  <div class="col-md-12">
    <h5>Experimental Virtual Machine</h5>
    <ul>
    <li>Direct download: <a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/vm/acousticbrainz-submitter-vm-20141018.ova"
    >acousticbrainz-submitter-vm-20141018.ova</a> (1.0GB) or</li>
    <li>BitTorrent: <a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/torrent/acousticbrainz-submitter-vm-20141018.ova.torrent"
    >acousticbrainz-submitter-vm-20141018.ova.torrent</a> (21Kb)</li>
    </ul>
    <p>
    The md5 sum for the ova file is: a9c4576a23f42c2bbc55eb01f96c6ea9
    </p>
  </div>
  <h4>Do it yourself install</h4>
  <div class="col-md-12">
    <p>
    If you prefer to build your own install of this software, you'll need a recent Linux install. Follow the
    instructions in <a href="http://github.com/MTG/acousticbrainz-client">acousticbrainz-client</a>.
    </p>
    <p>
    Part of the source installation requires a static extractor binary. We have these versions for linux & mac
    available:
    </p>
    <ul>
       <li><a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/extractors/essentia-extractor-21ef5f41f15ed1f80c8f9b36802430055d3b93e9-linux-i686.tar.gz">linux i386 extractor static binary</a> (4.9Mb)</li>
       <li><a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/extractors/essentia-extractor-21ef5f41f15ed1f80c8f9b36802430055d3b93e9-linux-x86_64.tar.gz">linux x86_64 extractor static binary</a> (5.6Mb)</li>
       <li><a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/extractors/essentia-extractor-f95df8bca8b62111462a03a06d9a9e5ad07b8ff8-osx-i386.tar.gz">mac 32 bit extractor static binary</a> (4.62Mb)</li>
       <li><a href="ftp://vm.musicbrainz.org/pub/acousticbrainz/extractors/essentia-extractor-f95df8bca8b62111462a03a06d9a9e5ad07b8ff8-osx-i386.tar.gz">mac 64 bit extractor static binary</a> (4.62Mb)</li>
    </ul>
  </div>
  <h4>Data downloads</h4>
  <div class="col-md-12">
    <p>
      At this point we do not have any downloads. In the next few days we should be clients available.
      Towards the end of October 2014, we will publish the first data dump.
    </p>
  </div>
</div>
{%- endblock -%}
