{% extends 'base.html' %}
{% block content %}
<div id="homepage">

  <h4><strong>Welcome to AcousticBrainz!</strong></h4>

  <div id="project-description" class="row">
    <div class="col-md-8">
      <p>
      The AcousticBrainz project aims to crowd source acoustic information for all music in the world and to make it 
      available to the public. This acoustic information describes the acoustic characteristics of music and includes 
      low-level spectral information and information for genres, moods, keys, scales and much more. The goal of 
      AcousticBrainz is to provide music technology researchers and open source hackers with a massive database of 
      information about music. We hope that this database will spur the development of new music technology research 
      and allow music hackers to create new and interesting recommendation engines.
      </p>
      <p>
      AcousticBrainz is a joint effort between <a href="http://www.mtg.upf.edu/">Music Technology Group</a> at 
      <a href="http://www.upf.edu/">Universitat Pompeu Fabra</a> in Barcelona and the 
      <a href="http://musicbrainz.org">MusicBrainz</a> project. AcousticBrainz was originally envisioned by 
      Xavier Serra, the founder and head of the MTG. At the heart of this project lies the 
      <a href="http://essentia.upf.edu/">Essentia toolkit</a> from the MTG -- this open source toolkit enables 
      the automatic analysis of music. The output from Essentia is collected by the AcousticBrainz project and 
      made available to the public.
      </p>
      <p>
      AcousticBrainz organizes the data on a track basis, indexed by the <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier">MusicBrainz ID</a>
      for <a href="https://musicbrainz.org/doc/Recording">recordings</a>. If you know the MBID for a recording, you 
      can easily fetch from AcousticBrainz. For details on how to do this, visit our <a href="/api">API documentation</a>.
      </p>
      <p>
      All of the data contained in AcousticBrainz is licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a> (public domain).
      </p>
      <p>
      </p>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Statistics</strong></div>
        <div class="panel-body">
           Some number of thingys have been uploaded.
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
