{% extends 'base.html' %}
{% block content %}
<div id="homepage">

  <h4><strong>Welcome to AcousticBrainz!</strong></h4>

  <div id="project-description" class="row">
    <div class="col-md-8">
      <p>

Crowd sourced.
Uses MusicBrainz to index data.
CC0 license for the data.



      </p>
      <p>
      </p>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Statistics</strong></div>
        <div class="panel-body">
           Some number of thingys have been uploaded.
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
