{%- extends 'base.html' -%}
{%- block content -%}
<div id="homepage">
  <h3><strong>Welcome to AcousticBrainz!</strong></h3>
  <div id="project-description" class="row">
    <div class="col-md-8">
      <p>
        The AcousticBrainz project aims to crowd source acoustic information for all music in the world and to make it
        available to the public. This acoustic information describes the acoustic characteristics of music and includes
        low-level spectral information and information for genres, moods, keys, scales and much more. The goal of
        AcousticBrainz is to provide music technology researchers and open source hackers with a massive database of
        information about music. We hope that this database will spur the development of new music technology research
        and allow music hackers to create new and interesting recommendation engines.
      </p><p>
        AcousticBrainz is a joint effort between <a href="http://www.mtg.upf.edu/">Music Technology Group</a> at
        <a href="http://www.upf.edu/">Universitat Pompeu Fabra</a> in Barcelona and the
        <a href="http://musicbrainz.org">MusicBrainz</a> project. AcousticBrainz was originally envisioned by
        Xavier Serra, the founder and head of the MTG. At the heart of this project lies the
        <a href="http://essentia.upf.edu/">Essentia toolkit</a> from the MTG -- this open source toolkit enables
        the automatic analysis of music. The output from Essentia is collected by the AcousticBrainz project and
        made available to the public.
      </p><p>
        AcousticBrainz organizes the data on a track basis, indexed by the <a href="https://musicbrainz.org/doc/MusicBrainz_Identifier">MusicBrainz ID</a>
        for <a href="https://musicbrainz.org/doc/Recording">recordings</a>. If you know the MBID for a recording, you
        can easily fetch from AcousticBrainz. For details on how to do this, visit our <a href="/api">API documentation</a>.
      </p><p>
        All of the data contained in AcousticBrainz is licensed under the <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 license</a> (public domain).
      </p>
      <h5>Examples</h5>
      <p>
      If you're wondering what this collected data actually looks like, have a look at the last 5 tracks that have been submitted:
      </p>
      <ol id="live-feed" class="list" style="width: 100%">
         {% for mbid, artist, recording in last_submitted_data %}
             <li><a href="/{{ mbid }}"><strong>{{ recording }} by {{ artist }}</strong></a></li>
         {% endfor %}
      </ol>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Track Statistics</strong></div>
        <div class="panel-body">
             <table class="table table-collapsed">
               <thead><tr>
                 <th></th>
                 <th>Lossy</th>
                 <th>Lossless</th>
                 <th>Total</th>
               </tr></thead>
               <tbody>
                 <tr>
                   <th>Unique</th>
                   <td>{{ stats['lowlevel-lossy-unique'] }}</td>
                   <td>{{ stats['lowlevel-lossless-unique'] }}</td>
                   <td><strong>{{ stats['lowlevel-lossy-unique'] + stats['lowlevel-lossless-unique'] }}</strong></td>
                 </tr>
                 <tr>
                   <th>All</th>
                   <td>{{ stats['lowlevel-lossy'] }}</td>
                   <td>{{ stats['lowlevel-lossless'] }}</td>
                   <td><strong>{{ stats['lowlevel-lossy'] + stats['lowlevel-lossless'] }}</strong></td>
                 </tr>
               </tbody>
             </table>
             <p style="text-align: center">
                <small>updated every 10 minutes</small><br />
                <small>last updated: {{ last_collected.strftime("%Y-%m-%d %H:%M") }}</small><br />
                <small><a href="{{ url_for('stats.statistics_graph') }}">more on the detailed statistics page</a></small>
             </p>
        </div>
      </div>
      <div class="panel panel-default">
        <a class="twitter-timeline" data-dnt="true" data-lang="en" href="https://twitter.com/AcousticBrainz" data-widget-id="535534957591281664">Tweets by @AcousticBrainz</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>
{%- endblock -%}

{%- block scripts -%}
{{ super() }}
<script type="text/javascript" charset="utf-8">
  var feed = $('#live-feed');
  var socket = new WebSocket('ws://' + document.domain + ':' + location.port + '/websocket');
  socket.onmessage = function (event) {
    var data = JSON.parse(event.data);
    $('<li><a href="/' + data.mbid +'"><strong>' + data.title + ' by ' + data.artist + '</strong></a></li>')
        .hide().prependTo(feed).fadeIn("slow");
    var items = feed.children();
    if (items.length > 5) {
      items.last().fadeOut("slow", function() { $(this).remove(); });
    }
  }
</script>
{%- endblock -%}
