{% macro print_error(message, category) -%}
  {% if category == "error" %}
    {% set head = _("Error!") %}
    {% set alert_class="alert-danger" %}
  {% elif category == "success" %}
    {% set head = _("Success!") %}
    {% set alert_class="alert-success" %}
  {% else %}
    {% set head = _("Notice!") %}
    {% set alert_class="alert-info" %}
  {% endif %}
<div class="alert {{ alert_class }}">
  <strong>{{ head }}</strong>
  {{ message }}
</div>
{% endmacro %}

{% macro scope_desc(scope) %}
  {% if scope == "user" %}
    <strong class="text-danger">
      <abbr title="{{ _('Modify profile info and delete your profile.') }}">{{ _('Profile data') }}</abbr>
    </strong>
  {% elif scope == "review" %}
    <abbr title="{{ _('Create and modify your reviews.') }}">{{ _('Reviews') }}</abbr>
  {% elif scope == "client" %}
    <abbr title="{{ _('Modify your applications (create, edit, delete).') }}">{{ _('Applications') }}</abbr>
  {% elif scope == "authorization" %}
    <strong class="text-danger">
      <abbr title="{{ _('Manage access to your profile for other apps (can allow complete access to your profile and remove existing access authorizations).') }}">{{ _('Authorization') }}</abbr>
    </strong>
  {% elif scope == "vote" %}
    <abbr title="{{ _('Submit and delete your votes.') }}">{{ _('Review votes') }}</abbr>
  {% endif %}
{% endmacro %}
