{%- extends 'base.html' -%}
{%- block content -%}
<div id="graph">
  <h4><strong>Detailed Statistics Chart</strong></h4>
  <div id="graph" class="row">
    <div id="timeline-chart"><svg style='height:500px; width:100%;'> </svg></div>
  </div>
</div>
{%- endblock -%}
{%- block scripts -%}
{{ super() }}
<script src="{{ url_for('static', filename="js/d3.v3.js") }}"></script>
<script src="{{ url_for('static', filename="js/nv.d3.js") }}"></script>
<script>
d3.json('{{ url_for('statistics_data') }}', function(data) {
  nv.addGraph(function() {
      var chart = nv.models.lineChart();

      chart.yAxis.tickFormat(d3.format(',.2f'));

      chart.xAxis.tickFormat(function(d) {
          return d3.time.format('%x %H:%M')(new Date(d))
      });

      d3.select('#timeline-chart svg')
      .datum(data)
      .transition().duration(500)
      .call(chart);

  nv.utils.windowResize(chart.update);

  return chart;
  });
});
</script>
{%- endblock -%}
{%- block head -%}
{{ super () }}
<link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet" media="screen">
{%- endblock -%}
