{%- extends 'base.html' -%}

{%- block title -%}
{% if mbid == "" %}
  Track Details
{% else %}
  Track "{{ lowlevel.metadata.tags.title[0] }}" by {{ lowlevel.metadata.tags.artist[0] }}
{% endif %}
- AcousticBrainz
{%- endblock -%}

{%- block content -%}
<div id="homepage">
  <h3>Details for track {{ mbid }}</h3>
  {% if mbid == "" %}
      <div>We do not have data for this track. <a href="/contribute">Please upload it!</a></div>
  {% else %}
      <div>
        <div class="col-md-8">
         <table class="table table-striped table-bordered">
            <thead><th style="width: 30%;">Track information</th><th>value</th></thead>
            <tr>
              <td>artist</td>
              <td>
                  {% if lowlevel.metadata.tags.musicbrainz_artistid[0] %}
                    <a href="https://musicbrainz.org/artist/{{ lowlevel.metadata.tags.musicbrainz_artistid[0] }}">{{ lowlevel.metadata.tags.artist[0] }}</a>
                  {% else %}
                    {{ lowlevel.metadata.tags.artist[0] }}
                  {% endif %}
              </td>
            </tr>
            <tr>
              <td>release</td>
              <td>
                  {% if lowlevel.metadata.tags.musicbrainz_albumid[0] %}
                    <a href="https://musicbrainz.org/release/{{ lowlevel.metadata.tags.musicbrainz_albumid[0] }}">{{ lowlevel.metadata.tags.album[0] }}</a>
                  {% else %}
                    {{ lowlevel.metadata.tags.album[0] }}
                  {% endif %}
              </td>
            </tr>
            <tr><td>title</td><td><a href="https://musicbrainz.org/recording/{{ lowlevel.metadata.tags.musicbrainz_recordingid[0] }}">{{ lowlevel.metadata.tags.title[0] }}</a></td></tr>
            {% if lowlevel.metadata.tags.tracknumber[0] %}
              <tr>
                <td>track number</td>
                <td>
                  {% if lowlevel.metadata.tags.tracktotal[0] %}
                    {{ lowlevel.metadata.tags.tracknumber[0] }} / {{ lowlevel.metadata.tags.tracktotal[0] }}
                  {% else %}
                    {{ lowlevel.metadata.tags.tracknumber[0] }}
                  {% endif %}
                </td>
              </tr>
            {% endif %}
         </table>
        </div>
        <div class="col-md-4">
            {% if lowlevel.metadata.tags.artist and lowlevel.metadata.tags.title %}
            <iframe src="http://toma.hk/embed.php?artist={{lowlevel.metadata.tags.artist_quoted}}&title={{lowlevel.metadata.tags.title_quoted}}" width="200" scrolling="no" height="200" frameborder="0" allowtransparency="true" ></iframe>
            {% endif %}
        </div>
     </div>

        <div class="col-md-12">
         <table class="table table-striped table-bordered">
            <thead><th style="width: 30%;">Tonal & Rhythm</th><th>value</th></thead>
            <tr><td>key</td><td>{{ lowlevel.tonal.key_key }}</td></td></tr>
            <tr><td>scale</td><td>{{ lowlevel.tonal.chords_scale }}</td></tr>
            <tr><td>danceability</td><td>{{ lowlevel.rhythm.danceability }}</td></tr>
            <tr><td>bpm</td><td>{{ lowlevel.rhythm.bpm }}</td></tr>
            <tr><td>beat count</td><td>{{ lowlevel.rhythm.beats_count }}</td></tr>
         </table>
        </div>

         {% if other %}
            <div class="col-md-12">
             <table class="table table-striped table-bordered">
                <thead><th style="width: 30%;">Voice, timbre, gender, etc.</th><th style="width: 25%;">value</th><th>probability</th></thead>
                {% for row in other %}
                   <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td></tr>
                {% endfor %}
             </table>
            </div>

            <div class="col-md-12">
             <table class="table table-striped table-bordered">
                <thead><th style="width: 30%;">Moods</th><th style="width: 25%;">value</th><th>probability</th></thead>
                {% for row in moods %}
                   <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td></tr>
                {% endfor %}
             </table>
            </div>

            <div class="col-md-12">
             <table class="table table-striped table-bordered">
                <thead><th style="width: 30%;">Genres</th><th style="width: 25%;">value</th><th>probability</th></thead>
                {% for row in genres %}
                   <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td></tr>
                {% endfor %}
             </table>
            </div>
         {% else %}
            <div class="col-md-12">
             <div class="warning bg-warning" style="padding: 1em; border: 1px solid #888; margin-bottom: 1em">
             Sorry, we have not had a chance to calculate the high level data for this track yet. It should be calculated
             soon. In the meantime, have a look at our <a href="/sample-data">sample data</a>.
             </div>
            </div>
         {% endif %}

        <div class="col-md-12">
          <p>Inspect the raw data the above is taken from:
            <ul>
              <li><a href="{{ url_for('view_low_level', mbid=mbid) }}">Low level data</a></li>
              {% if other -%}
                <li><a href="{{ url_for('view_high_level', mbid=mbid) }}">High level data</a></li>
              {%- endif %}
            </ul>
          </p>
        </div>

  {% endif %}
</div>
{%- endblock -%}
