{%- extends 'base.html' -%}

{%- block title -%}Detailed Statistics - AcousticBrainz{%- endblock -%}

{%- block content -%}
  <h2 class="page-title">Detailed Statistics Chart</h2>
  <p>Use the small chart below to select a smaller section of the graph to view.</p>
  <div id="chart"><svg style="height:500px; width:100%;"></svg></div>
{%- endblock -%}

{%- block scripts -%}
  {{ super() }}
  <script id="page-props" type="application/json">{{ page_props|safe }}</script>
  <script src="{{ get_static_path('stats.js') }}"></script>
{%- endblock -%}
